<!DOCTYPE html><html>
<head>
    <title></title>
</head>
<body>
foo

subfoo
Tom Sawyer

subsubfoo
Tom

Tom Sawyer
{"name":"Tom"}
{"lastname":"Sawyer"}

{"age":25}
{"lastname":"Sawyer"}
{"name":"Tom"}

{"age":25}
{"lastname":"Sawyer"}
{"name":"Tom","nickname":"Romeo","height":175}

{"age":25}
{"lastname":"Sawyer","nickname":"Romeo"}
{"name":"Tom"}

{"age":25}
{"lastname":"Sawyer"}
{"name":"Tom"}

[]
{"lastname":"Sawyer"}
{"name":"Tom"}

{"age":27}
{"lastname":"Sawyer"}
{"name":"Tom"}

{"age":27}
{"lastname":"Sawyer","e-mail":"site@gmail.com"}
{"name":"Tom","height":170,"nickname":"Storm"}

[]
{"lastname":"Sawyer","e-mail":"site@gmail.com"}
{"name":"Tom","height":170,"nickname":"Storm"}

{"lastname":"Sawyer","e-mail":"site@gmail.com"}
{"name":"Tom","height":170,"nickname":"Storm"}
{"name":"Tom","height":170,"nickname":"Storm"}

{"lastname":"Sawyer","e-mail":"site@gmail.com"}
null
null


</body>
</html>