[[$@demo.views/chunks/top_menu]]
<div class="container main" role="main">
    <div class="demo-header">
        <h1 class="demo-title">[[+title]]</h1>
        <p class="lead demo-description">The example template.</p>
    </div>
    <div class="demo-main">
        <div class="demo-post">
            <div class="demo-post-title">
                Filters
            </div>
            <div class="demo-post-meta">
            Modify url
            </div>
            <pre><code class="php"><!--
-->$replace = '{! [[+url
                :modifyUrl
                    &args=`{"page" : 1}`
                    &beginPath=`/parts`
                    &endPath=`/news/`
                    &anchor=`name`
                    &const=`32`
]] !}';
echo (new Template())->replace($replace, ['url'=> '/categories/?view=all']);<!--
                    --></code></pre>
            Result:
            <pre><code class="html"><!--
                        -->[[+demo.url
                    :modifyUrl
                        &args=`{"page" : 1}`
                        &beginPath=`/parts`
                        &endPath=`/news/`
                        &anchor=`name`
                        &const=`32`
                ]]<!--
                        --></code></pre>
            <div class="demo-post-meta">
                Modify date
            </div>
            <pre><code class="php"><!--
-->$replace = '{![[+date:modifyDate&format=`dmyhm`]]!}';
echo (new Template())->replace($replace, ['date'=> '2014-02-12 15:01']);<!--
                    --></code></pre>
            Result:
            <pre><code class="html"><!--
                        -->[[+demo.date:modifyDate&format=`dmyhm`]]<!--
                        --></code></pre>

            <div class="demo-post-meta">
                Arithmetic operators
            </div>
            <pre><code class="php"><!--
                            -->echo (new Template())->replace('{![[+num * `4` + `2`]]!}', ['num'=> 3]);<!--
                         --></code></pre>
            Result:
            <pre><code class="html"><!--
                        -->[[+demo.num * `4` + `2`]]<!--
                        --></code></pre>

            <div class="demo-post-meta">
                php-function + cascade
            </div>
            <pre><code class="php"><!--
                            -->echo (new Template())->replace('{![[+title:substr&start=`6`&length=`2`:strlen]]!}', ['title'=> 'hello world']);<!--
                         --></code></pre>
            Result:
            <pre><code class="html"><!--
                        -->[[+demo.title:substr&start=`6`&length=`2`:strlen]]<!--
                        --></code></pre>
        </div>

        <div class="demo-post">
            <div class="demo-post-title">Snippets</div>
            <div class="demo-post-meta">
                ListView + Pagination
            </div>
            <pre><code class="php"><!--
 -->
// set alias
\rock\template\Template::setAlias('@views', '/path/to/views')

$replace =
'{![[ListView
    ?array = `[[!+list:toJson]]`
    ?tpl = `@views/chunks/item`
    ?wrapperTpl = `@INLINE&lt;div&gt;[[!+output]]&lt;/div&gt;`
    ?pagination=`{
        "array" : [[!+pagination:toJson]],
        "pageVar" : "num"
    }`
]]!}';
$list = [
    [
        'name' => 'Tom',
        'email' => 'tom@site.com',
        'about' => '&lt;b&gt;biography&lt;/b&gt;'
    ],
    [
        'name' => 'Chuck',
        'email' => 'chuck@site.com'
    ]
];

$currentPage = isset($_GET['num']) ? (int)$_GET['num'] : null;
$params = [
    'list' => $list,
    'pagination' =>  \rock\template\helpers\Pagination::get(count($list), $currentPage, 1, SORT_DESC)
];
echo (new Template())->replace($replace, $params);<!--
                        --></code></pre>
            Result<a name="pagination"></a>:
            <pre><code class="html"><!--
                        -->[[ListView
                    ?array = `[[!+demo.list:toJson]]`
                    ?tpl = `@demo.views/chunks/item`
                    ?wrapperTpl = `@INLINE<div>[[!+output]]</div>`
                    ?pagination=`{
                        "array" : [[!+demo.pagination:toJson]],
                        "pageVar" : "num",
                        "pageAnchor" : "pagination"
                    }`
                ]]<!--
                        --></code></pre>
            Or call from the controller:
           <pre><code class="php"><!--
 -->class FooController
{
    public function actionIndex()
    {
        // set alias
        \rock\template\Template::setAlias('@views', '/path/to/views')

        // render template
        return (new \rock\template\Template)->render('@views/layout', [], $this);
    }

    public function getList()
    {
        return [
           [
               'name' => 'Tom',
               'email' => 'tom@site.com',
               'about' => '&lt;b&gt;biography&lt;/b&gt;'
           ],
           [
               'name' => 'Chuck',
               'email' => 'chuck@site.com'
           ]
        ];
    }

    public function getPagination()
    {
        $currentPage = isset($_GET['num']) ? (int)$_GET['num'] : null;
        return  \rock\template\helpers\Pagination::get(count($this->getList()), $currentPage, 1, SORT_DESC);
    }
}

echo (new FooController)->actionIndex();<!--
                        --></code></pre>
            Contents layout.html:
            <pre><code class="php"><!--
-->{![[ListView
    ?call = `context.getList`
    ?tpl = `@views/chunks/item`
    ?wrapperTpl = `@INLINE&lt;div&gt;[[!+output]]&lt;/div&gt;`
    ?pagination=`{
       "call" : "context.getPagination",
       "pageVar" : "num"
    }`
]]!}<!--
                        --></code></pre>
        </div>
    </div>
</div>
[[$@demo.views/chunks/footer]]