<!DOCTYPE html>
<!--[if !IE]>--><html class="no-js"><!--<![endif]-->
<title>Demo</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Language" content="en">
<meta name="robots" content="all">
<meta name="description" content="about">
<link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico?10">
<link rel="alternate" type="application/rss+xml" title="rss" href="/feed.rss" />
<link href="/assets/css/main.css" media="screen, projection" rel="stylesheet"/>
<!--[if lt IE 9]><script src="/assets/head.js"></script><![endif]-->
<body>
demo
<!--[if !(IE) | (gt IE 8) ]>--><link href="/assets/css/footer.css" media="screen, projection" rel="stylesheet"/><!--<![endif]-->
<script src="/assets/end.js"></script>
</body>
</html>